@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

@font-face {
  font-family: "Electrolize";
  src: url("/public//Electrolize/Electrolize-Regular.ttf") format("truetype"); 
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-electrolize: "Electrolize", sans-serif;
}


.electrolize-font {
  font-family: var(--font-electrolize);
}
