/* Navbar styling */
.navbar {
    background: transparent;
    transition: background 0.3s ease;
  }
  
  .sticky-navbar {
    background: rgba(43, 26, 57, 0.8);  /* Slight transparency */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .nav-link-custom {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-link-custom:hover {
    color: #c770f0;
    transform: translateY(-5px);
  }
  
  .navbar .navbar-toggle span {
    background: white;
    width: 25px;
    height: 3px;
    margin: 4px;
  }
  
  .navbar .navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar .navbar-toggler {
    border: none;
  }
  
  .navbar .navbar-toggler:focus {
    outline: none;
  }
  
  @media (max-width: 767px) {
    .navbar .navbar-collapse {
      justify-content: flex-start;
    }
  
    .navbar .navbar-toggler {
      color: white;
    }
  }
  
  @media (max-width: 1200px) {
    .navbar .navbar-collapse {
      gap: 20px;
    }
  }
  
  @media (max-width: 992px) {
    .navbar .navbar-collapse {
      gap: 10px;
    }
  }
  